<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UserServlet</servlet-name>
  <servlet-class>org.evilbinary.controller.UserServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>JugeServlet</display-name>
  <servlet-name>JugeServlet</servlet-name>
  <servlet-class>org.evilbinary.controller.JugeServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ProblemServlet</servlet-name>
  <servlet-class>org.evilbinary.controller.ProblemServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>PageServlet</servlet-name>
  <servlet-class>org.evilbinary.controller.PageServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>UserServlet</servlet-name>
  <url-pattern>/UserServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>JugeServlet</servlet-name>
  <url-pattern>/JugeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProblemServlet</servlet-name>
  <url-pattern>/ProblemServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PageServlet</servlet-name>
  <url-pattern>/PageServlet</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/Index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/Erro.jsp</location>
 </error-page>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
